.trade-watchlist {
    width: 90%;
    margin: 40px auto 20px;
    background-color: white;
}

.trade-watchlist-header {
    display: grid;
    width: 100%;
    grid-template-columns: 5% auto 9% 9% 9% 5%;
    margin: 0 auto;
    font-size: 14px;
    height: 50px;
    border-bottom: 1px solid #eceff1;
    color: rgba(17, 51, 83, 0.6);
}

.trade-watchlist-header div {
    margin: auto 0;
}

.trade-watchlist-header div:first-child {
    margin-left: 30%;
}

.watchlist-list {
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.watchlist-item {
    display: grid;
    width: 100%;
    grid-template-columns: 5% auto 9% 9% 9% 5%;
    margin: 0 auto;
    height: 60px;
    border-bottom: 1px solid #eceff1;
}

.watchlist-item div {
    margin: auto 0;
}

.watchlist-item div:first-child {
    margin-left: 30%;
    color: rgba(17, 51, 83, 0.6);
}

.watchlist-item div:last-child {
    margin-left: 5%;
}

.watchlist-item-icon-info {
    display: flex;
    align-items: center;
}

.watchlist-item-icon-info > * {
    margin-right: 1%;
}

.watchlist-star:hover {
    cursor: pointer;
}

.watchlist-star[disabled] {
    pointer-events: none;
}