.holdings {
    display: inline-flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: flex-start;
}

.holding-list-container {
    background-color: white;
    width: 65%;
    min-width: 600px;
    margin-top: 40px;
    margin-right: 2%;
    border-style: none;
    border-radius: 3px;
    height: auto;
}

.holding-header-container {
    padding: 0 2%;
    height: 80px;
    border-bottom: 1px solid #eceff1;
}

.holding-header-title {
    margin: 20px 0 25px;
    font-size: 22px;
    font-weight: 600;
}

.holding-header {
    display: flex;
    font-size: 14px;
    color: rgba(17, 51, 83, 0.6);
    justify-content: space-between;
}

.holding-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.holding-list li {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    border-bottom: 1px solid #eceff1;
    padding: 0 2%;
}

.holding-list li > div:first-child {
    width: 30%;
    display: flex;
    align-items: center;
}

.holding-item-alloc {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    align-items: center;
}

.holding-item-alloc > div{
    height: 8px;
    border-radius: 4px;
}

.holding-item-alloc > span{
    width: 30%;
    text-align: end;
}
