.holding-transaction {
    background-color: white;
    margin-top: 40px;
    width: 33%;
    border-style: none;
    border-radius: 3px;
}


.holding-transaction-header {
    padding: 20px 0 20px 20px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #eceff1;
}

.holding-transaction-list {
    list-style: none;
    margin: 0;
    padding: 0px;
}

.holding-transaction-list li{
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #eceff1;
    padding: 0 20px;
}

.holding-transaction-list li > div:first-child{
    width: 60px;
}

.holding-transaction-list li > div:nth-child(2){
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.holding-transaction-list li > div:last-child{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.holding-transaction-list li > div:last-child span{
    text-align: end;
    font-size: 14px;
}
