.main, .app {
    height: 100%;
}

.splash {
    padding-left: 20px;
}

head {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

a,a:hover, a:visited{
    border:none;
    outline:none;
    text-decoration:none;
    color:inherit;
}