.main, .app {
    height: 100%;
}

head {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

a, a:hover, a:visited{
    border:none !important;
    outline:none !important;
    text-decoration:none !important;
    color:inherit;
}