.sidebar {
    position: fixed;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 250px;
    min-width: 150px;
    background-color: white;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 15px;
}

.active_sidebar {
    color: #1652f0;
}

#sidebar_home_link {
    display: block;
    margin: 20px;
}

.sidebar-home-button {
    background: transparent;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 22px;
    color: #1652f0;
    letter-spacing: -1px;
    margin: 18px 0 20px 10px;
}

.sidebar-home-button:hover {
    cursor: pointer;
}

.sidebar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 40px;
    border-radius: 4px;
    margin: 20px 0 20px 0;
}

.sidebar-item:hover {
    background-color: #f1f3f5;
    cursor: pointer;
}

.sidebar-item span{
    margin-left: 15px;
    font-size: 14px;
    font-weight: 600;
}

.sidebar-circle {
    display: flex;
    background-color: #f1f3f5;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.sidebar-footer {
    display: flex;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin-top: calc(100vh - 300px);
}


.sidebar-footer a {
    color: black;
    margin: 0 20px;
}



