.select-asset-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.select-asset-back {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-style: none;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.select-asset-back:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.select-asset-list {
    list-style: none;
    position: relative;
    top: 60px;
    height: 440px;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

.select-asset-list li {
    height: 70px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.select-asset-list li:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.select-asset-list li[marked='1'] {
    background-color: #fafafa;
    pointer-events: none;
}

.select-asset-list li[marked='1']:hover {
    cursor: default;
}

.select-asset-list li[marked='1'] span:first-child {
    color: #1652f0;
}

.asset-list-item {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.asset-list-item span:first-child {
    font-weight: 400;
    font-size: 18px;
}

.asset-list-item span:nth-child(2) {
    color: rgb(121 118 118);
    font-size: 14px;
    font-weight: 300;
}

.select-fund-list {
    list-style: none;
    position: relative;
    top: 60px;
    height: 400px;
    margin: 0;
    padding: 0;
}

.select-fund-list li {
    height: 70px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}


.select-fund-list li[marked='1'] {
    color: #1652f0;
    background-color: #fafafa;
    pointer-events: none;
}