.main_content {
    display: flex;
    position: relative;
    left: 200px;
    width: calc(100% - 200px);
    top: 50px;
    z-index: 0;
}


.dashboard, .holdings, .watchlist {
    padding-left: 20px;
    width: 100%;
}
