.main_content {
    display: flex;
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    top: 60px;
    z-index: 0;
    background-color: rgb(246, 249, 252);
}


.dashboard, .holdings, .watchlist {
    padding-left: 20px;
    width: 100%;
}
